@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------MOBILE MENU--------------------------*/
@media (max-width: 48rem) {
  #main-nav {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 6rem;
    left: 2.5rem;
    z-index: 1000;

    border-radius: 5px;
    background-color: white;
    padding: 2rem 2rem;
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    font-weight: 700;
    width: 80%;
  }
}

#main-nav.menu-expanded {
  box-shadow: -1px 192px 274px 150px rgba(0, 0, 0, 0.69);
  transform: translateY(0);
}

/* -------------------BACKGROUND IMAGES--------------------------*/
* {
  background-repeat: no-repeat;
}

body,
#hero {
  background-image: url(../images/bg-tablet-pattern.svg);
}

@media (max-width: 31.25em) {
  body {
    background-size: 31.25rem;
    background-position: 3.125rem -5rem;
  }

  #hero {
    background-size: 25rem;
    background-position: 17.625rem bottom;
  }
}

@media (max-width: 47.9375em) {
  #cta {
    background-image: url(../images/bg-simplify-section-mobile.svg);
    background-position: left center;
  }
}

@media (min-width: 31.251em) and (max-width: 47.99em) {
  body {
    background-size: 37.5rem;
    background-position: right -15rem top -12rem;
  }

  #hero {
    background-size: 28.125rem;
    background-position: right -15rem bottom;
  }
}

@media (min-width: 48em) {
  body {
    background-position: right -8rem top -13rem;
  }

  #cta {
    background-image: url(../images/bg-simplify-section-desktop.svg);
    background-position: 75% 70%;
    background-size: 80%;
  }

  #hero {
    background-image: none;
  }
}
